body{
    margin:0;
    width: 100vw;
    height: 100vh;
    background-color: #10111D;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

form{
    margin: auto;
    Width: 80vw;
    height: 80vh;
    background-color: #11111D;
    border-box: 2px inset black;
    max-width: 700px;
    min-width: 300px;
    padding-bottom: 2em;
}


header{
     Margin: 5vh auto;
     text-align:center;
     }
     
.inline{

     width: unset;
     margin: 0 0.5em 0 0;
    vertical-align: middle;
    }


input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #9a6aff;
  border-color: white;
  min-width: 300px;
}
    input,  textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  padding: 0.5em, 0, 0, 0;
}
    label {
  display: block;
  margin: 0.5rem 0;
  }
   div{
    border: 1px inset #0a0a23;
  }
