body{
    margin:0;
    width: 100vw;
    height: 100vh;
    background-color: #10111D;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

form{
    margin: auto;
    Width: 80vw;
    height: 80vh;
    background-color: #11111D;
    border-box: 2px solid black;
}
header{
     Margin: 5vh auto;
     text-align:center;
     }
     
