body{
    margin:0px;
    width: 100vw;
    height: 100vh;
    background-color: #10111D;
    color: #f0fff3;
}

form{
    margin: auto;
    Width: 80vw;
    height: 90vh;
    background-color: 
    color: 
}
